<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filtering</title>
</head>
<body>
    <a href="http://127.0.0.1:8000/sort_by/sort_by_id">
      <button type="button">Sort By ID Inc</button>
    </a>
    <a href="http://127.0.0.1:8000/sort_by/sort_by_id_desc">
      <button type="button">Sort By ID Desc</button>
    </a>
    <a href="http://127.0.0.1:8000/sort_by/sort_by_name">
      <button type="button">Sort By Name</button>
    </a>
    <a href="http://127.0.0.1:8000/sort_by/sort_by_date">
      <button type="button">Sort By Created Time</button>
    </a>
</body>
</html>